Repository nadesskey/nadesskey, pull requests merged in 2024-12, with the labels that each got.

#58 feat: LTLに非掲載のパブリックノートを作成可能にする
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1735143680806-AddPublicNonLtlVisibility.js
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/models/json-schema/note.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/notes/global-timeline.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/types.ts
  packages/frontend-shared/js/const.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHeader.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkVisibilityPicker.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#54 feat: リアクションした人一覧がブロック・ミュートを考慮するようにする設定
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/notes/reactions.ts
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/store.ts
Labels: packages/backend, packages/frontend

#57 feat: ワードミュートで引っかかったワードを表示可能にする
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/scripts/check-word-mute.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#59 nade 1.6.0
  CHANGELOG_NADE.md
  DIFFERENCE.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  package.json
  packages/backend/migration/1735143680806-AddPublicNonLtlVisibility.js
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/models/json-schema/note.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/notes/global-timeline.ts
  packages/backend/src/server/api/endpoints/notes/reactions.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/types.ts
  packages/frontend-shared/js/const.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHeader.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/components/MkVisibilityPicker.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/scripts/check-word-mute.ts
  packages/frontend/src/store.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#61 enhance(frontend): ヘッダー/詳細に不足してる部分を追加
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHeader.vue
Labels: packages/frontend

#62 nade 1.6.1
  CHANGELOG_NADE.md
  package.json
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHeader.vue
  packages/misskey-js/package.json
Labels: packages/frontend, packages/misskey-js

#65 Fix/compability semipublic followup
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/frontend/src/components/MkNoteHeader.vue
Labels: packages/backend, packages/frontend

#67 Fix: Semi-Public renote icon not showing
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#68 nade 1.6.4
  CHANGELOG_NADE.md
  package.json
  packages/frontend/src/components/MkNote.vue
  packages/misskey-js/package.json
Labels: packages/frontend, packages/misskey-js

#69 Fix(backend): パブリックおよびセミパブリック投稿に対してのリプライ公開範囲がおかしくなっているのを修正
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#73 Fix(backend): クエリの修正（リアクションのミュート考慮）
  packages/backend/src/server/api/endpoints/notes/reactions.ts
Labels: packages/backend

#74 nade 1.6.7
  CHANGELOG_NADE.md
  package.json
  packages/backend/src/server/api/endpoints/notes/reactions.ts
  packages/misskey-js/package.json
Labels: packages/backend, packages/misskey-js
